extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Project Title
        h1 #{title}

        //- Project description
        p.lead.text-light
          | #{description}
        

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //-  List of technologies
        each t in technologies
          li= t

        br
        //- Projects Links
        a.button.expanded(href=`${gitLinkDemo}` target='_blank') Live Demo
        a.button.expanded(href=`${gitRepoPath}` target='_blank') GitHub Repo
    
    //- Project Images 
    img.image(src=`/static/${img[1]}`)
    img.image(src=`/static/${img[2]}`)
    if img[3]
      img.image(src=`/static/${img[3]}`)
    if img[4]
      img.image(src=`/static/${img[4]}`)
    if img[5]
      img.image(src=`/static/${img[5]}`)